/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--background);
  color: var(--text);
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.1em;
  border: 2px solid var(--primary-light);
  border-radius: 8px;

  .textInput {
    background-color: var(--main-grey);
    border-radius: 8px;
    text-align: center;
    padding: 0.6em;
  }

  .submitForm{
    background-color: var(--primary);
    color: var(--anti-text);
    padding: 0.6em;
    border-radius: 8px;
    &:disabled {
      background-color: #404040;
      color: white;
      border: 2px solid var(--text);
    }
  }

  .primary-btn {
    background-color: var(--primary);
    color: var(--anti-text);
    border: 2px solid var(--contrast);
    padding: 0.6em;
    border-radius: 8px;
  }
}

