@import "tailwindcss";
@theme inline {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-light-grey: var(--main-grey);
  --color-contrast: var(--contrast);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-anti-text: var(--anti-text);
}

@layer base {
  :root {
    --primary: #600055;
    --primary-light: #BC0090;
    --main-grey: #EEE;
    --contrast: #6BF;
    --background: #FFF;
    --text: #000;
    --anti-text: #FFF;
  }

  .dark{
    --primary: #EF60BC;
    --primary-light: #FF80E2;
    --main-grey: #303030;
    --contrast: #026;
    --background: #0f172a;
    --text: #EBE;
    --anti-text: #000;
  }
}
